/ "Delete item" modal window
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h3
          = t('admin.item.delete_item')
          ?
      .modal-body
        - if @item.posts && @item.posts.length > 0
          %p= t('admin.warning_posts_before_delete_item')
        %p= t('admin.delete_sure', entity: t('admin.item_name'))
      .modal-footer
        %a.btn{"data-dismiss" => "modal", :href => "#"} Cancel
        = link_to t('admin.delete_confirm', entity: t('admin.item_name')), user_item_path(@item), method: :delete, class: 'btn btn-danger'
