<!-- "Delete item" modal window -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3><%= t('admin.item.delete_item') %>?</h3>
      </div>
      <div class="modal-body">
        <% if @item.ads && @item.ads.length > 0 %>
            <p><%= t('admin.warning_ads_before_delete', entity: t('admin.item_name')) %></p>
        <% end %>
        <p><%= t('admin.delete_sure', entity: t('admin.item_name')) %></p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <%= link_to t('admin.delete_confirm', entity: t('admin.item_name')), user_item_path(@item), method: :delete, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>