/ Item drop-down box and "Create a new item" button, in create/edit post page
.nested-fields.post-item-fields{:style => "padding-bottom: 10px;"}
  .item_from_list{:style => "display: inline;"}
    = f.select :item_id, options_from_collection_for_select(Item.where(id: f.object.item_id), 'id', 'name'), {}, {class: 'post-item-select-list selectpicker selectpicker-items', data: {live_search: 'true'}}
  = link_to_add_association t('post.create_item'), f, :item, partial: 'shared/item_fields', class: 'btn btn-sm btn-info post-create-item'
  = link_to_remove_association '<i class="glyphicon glyphicon-remove" style="color: red;"></i>'.html_safe, f, class: 'vert-align'
