<hr>

<footer class="row">
  <p class="col-md-4 col-sm-4 col-xs-12 powered-by">
    Admin theme from <a href="http://usman.it/free-responsive-admin-template">Charisma</a> -
    Powered by <a href="http://madloba.org">Madloba</a>
  </p>
</footer>