<footer id="footer">
  <div class="container-fluid lower-footer">
    <% if is_in_setup_mode %>
        <!-- Footer for setup pages -->
        <p class="muted footer-message">New website powered by <a href="http://madloba.org" target="_blank">Madloba</a></p>
    <% else %>
        <!-- Footer for regular pages -->
        <p class="muted footer-message"><%= site_name %> - Powered by <a href="http://madloba.org" target="_blank">Madloba</a></p>
    <% end %>
  </div>
</footer>