<footer id="footer">
  <div class="container-fluid lower-footer">
    <p class="muted footer-message"><%= site_name %> - Powered by <a href="http://madloba.org" target="_blank">Madloba</a></p>
  </div>
</footer>