\// Initialization of websocket url and object.
App = {websocket_url: "#{"ws://#{request.host}:#{request.port}"}"};

$(function() {
var postSocket = new AdSocket();

$(window).on('beforeunload', function(){
postSocket.socket.close();
});
});
