%div
  %i= t('post.write_new_item')
.nested-fields{:style => "display:inline-flex;"}
  = f.text_field :name, class: 'form-control post_item post-create-item-field'
  = f.select :category_id, options_from_collection_for_select(Category.all, :id, :name), {}, {class: 'selectpicker post-select-category form-control', data: {header: t('post.select_category') }}
