- if include_all_scripts || @map_settings['chosen_map'] == 'mapbox'
  %script{:src => "https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.js", :type => "application/javascript"}
  %link{:href => "https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.css", :rel => "stylesheet"}/
- elsif @map_settings['chosen_map'] == 'mapquest' || @map_settings['chosen_map'] == 'osm'
  %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css", :rel => "stylesheet", :type => "text/css"}/
  %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js", :type => "application/javascript"}
