/ Submit button
.form-actions
  = submit_tag(t('admin.save'), class: 'btn btn-success')
  - if current_user.admin?
    %a.btn{:href => "/user/managerecords"}= t('home.cancel')
  - else
    %a.btn{:href => "/user/manageposts"}= t('home.cancel')
