#search_result.sidebar.sidebar-right.collapsed.hide
  -# Nav tabs
  .sidebar-tabs
    %ul{role: 'tablist'}
      %li
        %a{href: '#results', role: 'tab', style: 'font-size: 20px'}
          %i.fa.fa-search#search_result_icon

  -# Tab panes
  .sidebar-content
    -# Search results
    #results.sidebar-pane.search-panes
      %h1.sidebar-header
        = 'Results'
        %span.sidebar-close
          %i.fa.fa-caret-right

      #result_list.list-group.results
        = render partial: 'search_result_list', locals: {results: {}}
