#myErrorModal.modal.hide.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4= t('location.not_found')
      .modal-body
        %p= t('location.not_found_descr1')
        %p= t('location.not_found_descr2')
      .modal-footer
        %a.btn.btn-default{"data-dismiss" => "modal", :type => "button"} OK