// This file contains all the custom style that is used across the website.

@import 'bootstrap'

// **************************
// Home page - General layout
// **************************

html, body
  height: 100%
  // The html and body elements cannot have any padding or margin.

// Wrapper for page content to push down footer
#wrap
  min-height: 100%
  overflow: auto
  padding-bottom: 60px

#wrap-admin
  min-height: 100%
  overflow: auto

#footer
  height: 60px
  position: relative
  margin-top: -60px
  // negative value of footer height
  clear: both
  background-color: #f5f5f5

#map
  width: 100%
  margin: 0
  &.home
    position: absolute
    top: 0px
    left: 0px
    height: 100% !important
  &.small
    height: 300px
  &.medium
    height: 350px
  &.large
    height: 400px


.devise-section
  padding: 20px 0px

// responsive CSS fixes as necessary, for the footer
@media (max-width: 767px)
  #footer
    margin-left: -20px
    margin-right: -20px
    padding-left: 20px
    padding-right: 20px

.footer-message
  margin: 20px 0 19px 0

.popover
  max-width: 340px
  width: auto

.no-left-right-border
  padding-left: 0px
  padding-right: 0px

.upper-footer
  background-color: #0C5A2E
  color: white
  min-height: 200px
  h2
    color: white

.lower-footer
  min-height: 60px
  background-color: #0C5A2E
  color: white
  text-align: center

.blocking-notification
  position: fixed
  top: 150px
  left: 10px
  font-size: 13px
  padding-top: 4px

.ad-non-signed-warning
  position: fixed
  top: 70px
  right: 10px
  font-size: 13px
  max-width: 300px
  z-index: 1

.show_ad_paragraph
  margin-bottom: 20px


// Home page

#home-map-canvas-wrapper
  position: relative
  padding-bottom: 45%
  height: 0
  overflow: hidden
  min-height: 660px

.guided-nav-circle
  width: 17px
  height: 17px
  border-radius: 50px
  color: #000
  line-height: 100px
  text-align: center
  float: left
  border-right: 2px

.guided-nav-label
  padding: 0 0 0 5px

.smaller-no-border-no-background
  padding: 5px 15px 0px
  border: none
  background-color: transparent

.semi-transparent
  background-color: rgba(255, 255, 255, 0.75)

.ad_new_number_items_col
  width: 20%

.align-cross
  padding-top: 3px
  padding-right: 14px

.update_align_link
  vertical-align: middle !important
  width: 25%

.dynamic_update
  padding-right: 10px
  display: inline !important

.dynamic_remove
  display: inline !important

span.disabled
  color: gray

.no-color
  color: #FFFFFF !important

.area_link:hover
  font-weight: bold

#sidebar
  border-radius: 20px

.title_popup a
  font-weight: bold !important


// Top navigation bar
.no-margin-bottom
  margin-bottom: 0px

.nav-margin-bottom
  margin-bottom: 20px
  padding: 3px 0px

.navbar-brand .madloba-img
  margin-top: -9px
  margin-right: 9px
  height: 40px
  width: 32px

.navbar-arrow-up
  float: right
  padding: 9px 18px
  font-size: 22px

#navbar-up-link
  color: white


// Off canvas and style tweaks

html
  overflow-x: hidden

.body-normal
  padding-top: 50px

.body-admin
  padding-top: 100px

@media only screen and (max-device-width: 991px)
  .row-offcanvas
    position: relative
    -webkit-transition: all 0.25s ease-out
    -moz-transition: all 0.25s ease-out
    transition: all 0.25s ease-out
  .row-offcanvas-right .sidebar-offcanvas
    right: -50%
    // 6 columns
  .row-offcanvas-left .sidebar-offcanvas
    left: -50%
    // 6 columns
  .row-offcanvas-right.active
    right: 50%
    // 6 columns
  .row-offcanvas-left.active
    left: 50%
    // 6 columns
  .sidebar-offcanvas
    position: absolute
    top: 0
    width: 50%
    // 6 columns
  .guided-nav-category
    margin: 10px 0px


// Admin panel - various styles

.table tbody > tr > td.vert-align
  vertical-align: middle

.navbar-collapse-admin
  margin-left: 41px

.middle-col
  float: none
  margin: 0 auto

.vert-align
  vertical-align: middle !important

.ad-add-item
  margin-top: 20px

.admin-link-bar
  margin-top: 50px
  z-index: 1000
  li a
    padding-top: 4px
    padding-bottom: 4px
    &:hover
      padding-top: 4px
      padding-bottom: 4px

.ad-select-category .popover-title
  font-size: 11px
  background: #f0f0f0 none repeat scroll 0 0
  color: #999
  font-weight: 500
  font-style: italic
  padding: 10px 20px

#district_notification_message
  margin-top: 15px

// Admin panel - make sidebar nav vertical

@media (min-width: 1060px)
  .navbar-arrow-up
    display: none

// Hiding the secondary admin bar in mobile mode, as we show its links in the primary nav bar when collapsed.
@media (max-width: 1059px)
  .admin-link-bar
    display: none

@media (max-width: 767px)
  .navbar-arrow-up
    padding: 10px 12px 10px 0px
    font-size: 20px

@media (min-width: 768px)
  .sidebar-nav .navbar
    .navbar-collapse
      padding: 0
      max-height: none
    ul
      float: none
      /*&:not
        display: block*/
    li
      float: none
      display: block
      a
        padding-top: 12px
        padding-bottom: 12px

.list-group h4
  margin-top: 10px !important


// Styling for Madloba setup screens

.setup-padding
  padding-bottom: 20px


// Styles on Ad pages

.ad-show-description
  padding-bottom: 20px
  min-height: 120px

.ad-paragraph
  padding-bottom: 20px

.ad-image
  padding-bottom: 20px
  text-align: center

.ad-title
  padding-bottom: 30px

.ad-label
  width: 120px

.ad-processing
  padding: 20px 0px
  color: #3a87ad
  font-weight: bold

.ad-item-select-list
  width: 240px !important
  margin-right: 15px !important

.ad-create-item
  margin-right: 6px

.ad-create-item-field
  width: 240px !important
  margin-right: 15px

.ad-select-category
  width: 180px !important
  margin-right: 6px !important

.ad-remove-association
  padding-top: 4px

.new_ad_new_location
  .label_class
    @extend .col-lg-2
    @extend .control-label
  .col10
    @extend .col-lg-10
  .col8
    @extend .col-lg-8
  .col6
    @extend .col-lg-6
  .col4
    @extend .col-lg-4
  .col3
    @extend .col-lg-3
  .col2
    @extend .col-lg-2
  .col_radio
    @extend .col-lg-6

// Miscellaneous styles

.popover
  width: 340px
  height: auto

.ad-expiring
  color: red
  font-weight: bold

.error-paragraph
  padding-top: 15px
  padding-bottom: 15px

.error-vertical-align
  text-align: center
  display: inline-block

// Style for typeahead suggestions

.typeahead
  background-color: #fff
  &:focus
    border: 2px solid #0097cf

.tt-query
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)

.tt-hint
  color: #999

.tt-menu
  width: 242px
  margin: 6px 0
  padding: 8px 0
  background-color: #fff
  border: 1px solid #ccc
  border: 1px solid rgba(0, 0, 0, 0.2)
  -webkit-border-radius: 8px
  -moz-border-radius: 8px
  border-radius: 8px
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)

.tt-suggestion
  padding: 3px 20px
  font-size: 13px
  line-height: 24px
  &:hover
    cursor: pointer
    color: #fff
    background-color: #0097cf
  &.tt-cursor
    color: #fff
    background-color: #0097cf
  p
    margin: 0