/*
 * This file contains all the custom CSS that is used across the website.
 *
 */

/*
 * Home page - General layout
 * --------------------------
 */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    overflow:auto;
    padding-bottom:60px;
}

#wrap-admin {
    min-height: 100%;
    overflow:auto;
}

#footer {
    height: 60px;
    position: relative;
    margin-top: -60px; /* negative value of footer height */
    clear:both;
}
#footer {
    background-color: #f5f5f5;
}

.devise-section {
    padding: 20px 0px;
}

/* responsive CSS fixes as necessary, for the footer */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.footer-message {
    margin: 20px 0 19px 0;
}

.popover {
    max-width: 340px;
    width: auto;
}

.no-left-right-border {
    padding-left: 0px;
    padding-right: 0px;
}

.upper-footer{
    background-color: #0C5A2E;
    color: white;
    min-height: 200px;
}

.upper-footer h2{
    color: white;
}

.lower-footer{
    background-color: #0C5A2E;
    color: white;
    text-align: center;
}

.blocking-notification{
    position: fixed;
    top: 150px;
    left: 10px;
    font-size: 13px;
    padding-top: 4px;
}

.ad-non-signed-warning{
    position: fixed;
    top: 70px;
    right: 10px;
    font-size: 14px;
    max-width: 300px;
    z-index: 1;
}

/*
 * Home page
 * ---------
 */

#home-map-canvas-wrapper {
    position: relative;
    padding-bottom: 45%;
    height: 0;
    overflow: hidden;
    min-height: 660px;
}

.guided-nav-circle{
    width:17px;
    height:17px;
    border-radius:50px;
    color: #000;
    line-height:100px;
    text-align:center;
    float: left;
    border-right: 2px;
}

.guided-nav-label{
    padding: 0 0 0 5px;
}

.smaller-no-border-no-background{
    padding: 5px 15px 0px;
    border: none;
    background-color: transparent;
}

.semi-transparent {
    background-color:rgba(255,255,255,0.75);
}

.ad_new_number_items_col{
    width: 20%;
}

.align-cross{
    padding-top: 3px;
    padding-right: 14px;
}

.update_align_link{
    vertical-align: middle !important;
    width: 25%;
}

.dynamic_update{
    padding-right: 10px;
    display: inline !important;
}

.dynamic_remove{
    display: inline !important;
}

span.disabled { color:gray; }

.no-color{
    color: #FFFFFF !important;
}

.area_link:hover{
    font-weight: bold;
}


/*
 * Top navigation bar
 * ------------------
 */
.no-margin-bottom{
    margin-bottom: 0px;
}

.nav-margin-bottom{
    margin-bottom: 20px;
    padding: 3px 0px;
}

.navbar-brand .madloba-img {
    margin-top: -9px;
    margin-right: 9px;
    height: 40px;
    width: 32px;
}

.navbar-arrow-up {
    float: right;
    padding: 9px 18px;
    font-size: 22px;
}

#navbar-up-link{
    color: white;
}

/*
 * Off canvas and style tweaks
 * ---------------------------
 */
html {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    padding-top: 58px;
}

@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -50%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%; /* 6 columns */
    }

    .guided-nav-category{
        margin: 10px 0px;
    }
}
/*
/* User panel - make sidebar nav vertical
/* --------------------------------------
*/
@media (min-width: 1060px) {
    .navbar-arrow-up {
        display: none;
    }
}

@media (max-width: 767px) {
    .navbar-arrow-up {
        padding: 10px 12px 10px 0px;
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
    }
    .sidebar-nav .navbar ul:not {
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }

}

/*
/* Styling for Madloba setup screens
/* ---------------------------------
*/

.setup-padding{
    padding-bottom: 20px;
}


/*
/* Styles on Ad pages
/* ------------------
*/

.ad-show-description{
    padding-bottom: 20px;
    min-height: 120px;
}

.ad-paragraph{
    padding-bottom: 20px;
}

.ad-image{
    padding-bottom: 20px;
    text-align: center;
}

.ad-title{
    padding-bottom: 30px;
}

.ad-label{
    width:120px;
}

.ad-processing{
    padding-top: 20px;
    color: #3a87ad;
    font-weight: bold;
}

.ad-item-select-list{
    width: 240px !important;
    margin-right: 15px !important;
}

.ad-create-item{
    margin-right: 6px;
}

.ad-create-item-field{
    width: 240px !important;
    margin-right: 15px;
}

.ad-select-category{
    width: 180px !important;
    margin-right: 6px !important;
}

.ad-remove-association{
    padding-top: 4px;
}

/*
/* Miscellaneous styles
/* --------------------
*/

.popover{
    width:250px;
    height:auto;
}

.ad-expiring{
    color: red;
    font-weight: bold;
}

.error-paragraph {
    padding-top: 15px;
    padding-bottom: 15px;
}

.error-vertical-align {
    text-align: center;
    display: inline-block;
}

/*
/* Style for typeahead suggestions
/* -------------------------------
*/
.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {
    width: 242px;
    margin: 12px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 15px;
    line-height: 24px;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}
